body {
    padding: 0;
    margin: 0;
}

#main {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: green;
}

section {
    max-height: 50vh;
    min-height: 40vh;
    padding: 0;
    margin: 0;
}

#betCont {
    position: absolute;
    top: 50;
    left: 40%;
    border: 2px inset white;
    padding: 20px;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.8);
}

#betCont>h2 {
    font-size: 2.5rem;
    text-decoration: underline;
    color: yellowgreen;
}

#betCont>h3 {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.bet-btn,
.deal-btn {
    padding: 10px 12px;
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    font-size: 2rem;
}
.end-btns {
    display: none;
}
.bet-btn:hover,
.deal-btn:hover,
.btn:hover {
    scale: 95%;
    background-color: white;
    color: black;
    cursor: pointer;
}

.hidden {
    display: none;
}

#scores {
    position: absolute;
    top: 20px;
    right: 60px;
    background-color: black;
    border: 2px outset white;
    border-radius: 12px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
}

#scores>h2 {
    text-align: center;
    text-decoration: underline;
    color: yellowgreen;
}

#userHand {
    position: absolute;
    left: 40%;
    top: 70%;
}

#dealerHand {
    position: absolute;
    left: 40%;
    top: 10%;
}

.dealer-card-div {
    position: absolute;
    height: 20vh;
    top: -30vh;
    animation: deal 130ms forwards; 
}
.user-card-div {
    position: absolute;
    height: 20vh;
    top: -30vh;
    animation: across 130ms forwards; 
}




@keyframes deal {
    0% {top: -20vh;}
    20% {top: -10vh;}
    40% {top: 2vh;}
    50% {top: 3vh}
    60% {top: 4vh;}
    70% {top: 5vh}
    80% {top: 6vh;}
    90% {top: 7vh}
    100% {top: 8vh;}
}
@keyframes across {
    0% {top: -200vh;}
    20% {top: -150vh;}
    30% {top: -100vh}
    40% {top: -50vh;}
    50% {top: -25vh}
    60% {top: -10vh;}
    70% {top: -5vh}
    80% {top: -3vh;}
    90% {top: -1vh}
    100% {top: 0vh;}
}

#moneyDisplay, .funds, #betDisplay {
    color: red;
}

.card-img {
    height: 100%;
}

.play-btns {
    flex-direction: column;
    width: 20vw;
    border: 2px inset white;
    border-radius: 12px;
    padding: 12px;
    background-color: black;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.8);
}

.btn {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin: 10px 0;
}

#splitBtn {
    display: none;
}
#playAgainBtn {
    display: none;
    border: 2px solid black;
    border-radius: 20px;
    background-color: blue;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.6);
}
#resultsDisplay {
    color: white;
    text-align: center;
    text-decoration: underline;
}
.end-btns {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 40vh;
    left: 30%;
    width: 20%;
    display: grid;

}